#modal-content {
  border: 3px black solid;
  border-radius: 25px;
  box-shadow: 3px green;
  height: 55%;
}
.modal {
  height: 99%;
}
.deleteModal {
  height: 99%;
}
.destroyTitle {
  display: flex;
  justify-content: center;
  font-size: 50px;
}
.messages {
  display: flex;
  justify-content: center;
  font-style: italic;
  font-weight: bold;
  padding: 3px;
}
.warning {
  padding: 5px;
  margin-top: 35px;
  font-size: 25px;
}
.warningMessage {
  border-bottom: 10px yellow dashed;
}
.warningList {
  /* border: 5px blue dotted; */
  font-weight: bold;
  display: flex;
  flex-direction: column;
  row-gap: 15px;
  color: red;
}
.destroyButtons {
  display: flex;
  justify-content: center;
  margin-right: 50%;
  column-gap: 25px;
  margin-top: 45px;
  height: 25%;
  width: 100%;
}
.destroyButton {
  background-color: red;
  border-bottom: 5px black solid;
  border-radius: 5px;
  width: 25%;
}
.destroyButton:hover {
  box-shadow: 0px 3px 3px 0px black;
  cursor: pointer;
}
.declineButton {
  background-color: green;
  border-bottom: 5px black solid;
  border-radius: 5px;
  width: 25%;
}
.declineButton:hover {
  box-shadow: 0px 5px 5px 0px black;
  cursor: pointer;
}
