<div>
          Any user should be able to view a projects discussions posted by other
          users and the devs on a project (separate discussions page)
        </div>
        <div>
          An authorized user should be able to post discussions on a project{" "}
        </div>
        <div>
          An authorized dev on the project should be able to post project
          updates(devlogs) as a dev
        </div>

        The project page should contain:
        <ul>
          <li>total number of vestors (aggregate) </li>
          <li>total amount of contributions so far (aggregate) </li>
          <li>milestones and their progress</li>
          <li>Vestor Tier Lists and their associated information</li>
        </ul>
        <div>
          Aside From all the information, an authorized user should be able to
          invest in a project at their desired tier.
        </div>
