/* TODO: Add sitewide styles */
body {
  font-family: Georgia, "Times New Roman", Times, serif;
  /* background: linear-gradient(
    -45deg,
    #ffffff,
    #f9f9f9,
    #f3f3f3,
    #eeeeee,
    #f3f3f3,
    #f9f9f9,
    #ffffff
  );
  background-size: 400% 400%;
  animation: gradient 10s ease infinite;
  height: 100vh; */
}

/* @keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
} */
