.Project {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.projectBio {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* margin-bottom: 20px; */
}
.title {
    font-size: 100px;
    margin-bottom: 5px;
}
.projectDescription {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 15px;
}
.projectDemographics {
    display: grid;
    grid-template-areas: "a b";
    grid-column-gap: 20px;
}
.projectInfo {
    margin-top: 20px;
    width: 100%;
}
.projectContent {
    display: grid;
    grid-template-areas: "a b c";
    grid-column-gap: 5px;
}
.infoContainer {
    grid-area: b;
}

.milestonesContainer {
    grid-area: a;
}
.milestones:hover{
    box-shadow: 3px 3px black;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}
.tiersContainer {
    grid-area: c;
}
.tiers:hover {
    box-shadow: 3px 3px white;
    border-radius: 5%;
    display: flex;
    flex-direction: column;
    color: white;
  cursor: pointer;
}
.projectButtons {
    display: flex;
}
