.navBar {
  display: flex;
border-bottom: 2px black solid;
  /* margin-bottom: 30px; */
}
.logo {
  height: 150px;
  /* margin-left: 50%; */
}
.logo:hover {
  box-shadow: 5px 5px 5px 0 black;
}
.logo:active {
  box-shadow: 5px 5px 5px 0 green;
  transform: translateY(4px);
}
.logo:hover {
  cursor: pointer;
}
.projectControls {
  display: flex;
  column-gap: 20px;
}
.search {
  display: flex;
  column-gap: 3px;
  height: 30px;
  align-items: center;
}
.search input {
  border-top: none;
  border-right: none;
  border-left: none;
  justify-self: left;
  width: 10vw;
}
.search input:hover {
  box-shadow: 6px 6px 6px 0px rgba(0, 0, 0, 0.5);
}
.addOption {
  display: flex;
  column-gap: 3px;
  margin-top: 6px;
  font-size: 30px;
}
.signedOut {
    font-size: 20px;
    display: flex;
    column-gap: 20px;
    justify-self: center;
}
.signedOut:hover {
  cursor: pointer;
}
.signedIn {
    display: flex;
    align-items: center;
    justify-content: center;

}
.icon {
    /* border: 5px purple solid; */
    height: 5vh;
}
