.navBar {
  display: flex;
  align-items: center;
  justify-content: center;
  justify-content: space-around;
  border-bottom: 1px black solid;

}
.logo {
  height: 150px;
  border-radius: 5px;
  /* margin-left: 50%; */
}
.logo:hover {
  box-shadow: 5px 5px 5px 0 black;
}
.logo:active {
  box-shadow: 5px 5px 5px 0 green;
  transform: translateY(4px);
}
.logo:hover {
  cursor: pointer;
}
.projectControls {
  display: flex;
  column-gap: 20px;
}
.search {
  display: flex;
  column-gap: 3px;
  height: 30px;
  align-items: center;
  font-size: 35px;
}
.search input {
  border-radius: 5px;
  box-shadow: 2px 2px 2px rgb(31, 31, 31);
  justify-self: left;
  width: 20vw;
  font-size: larger;
}
.search input:hover {
  box-shadow: 6px 6px 6px 0px rgba(0, 0, 0, 0.5);
}
.addOption {
  display: flex;
  column-gap: 3px;
  margin-top: 6px;
  font-size: 30px;
}
.signedOut {
  font-size: 30px;
  display: flex;
  column-gap: 15px;
  justify-self: center;
}
.signedOut:hover {
  cursor: pointer;
}
.signedIn {
  display: flex;
  align-items: center;
  justify-content: center;
}
.icon {
  /* border: 5px purple solid; */
  height: 8vh;
}
.icon:hover{
  cursor: pointer;
}
.logout{
  font-size: 30px;
}
.logout:hover{
  cursor: pointer;
  color: rgb(207, 34, 34);
  font-weight: bolder;
}
